@import "tailwindcss";
/* en tu CSS principal */
@config "../tailwind.config.js";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Aplicar el color de fondo principal al body */
body {
  background-color: theme('colors.primary.bg');
  color: theme('colors.text.primary');
  margin: 0;
  padding: 0;
}

/* Gradient divider */
.gradient-divider {
  height: 2px;
  border: none;
  background: linear-gradient(90deg, #1DB779 0%, #FBE049 49.04%, #FBC391 100%);
}

/* Slider dots */
.slider-dot {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #4B5563;
  background-color: #6B7280;
  cursor: pointer;
  transition: all 0.3s ease;
}

.slider-dot.active {
  background: linear-gradient(90deg, #1DB779 0%, #FBE049 49.04%, #FBC391 100%);
  border: 2px solid transparent;
  background-clip: padding-box;
}

.slider-dot.active::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: linear-gradient(90deg, #1DB779 0%, #FBE049 49.04%, #FBC391 100%);
  z-index: -1;
}

/* 
.feature-card-border {
  border: 1px solid;
  border-image-source: linear-gradient(2.53deg, rgba(255, 255, 255, 0.08) -3.17%, rgba(255, 255, 255, 0.8) 52.21%, rgba(255, 255, 255, 0.08) 119.97%);
  border-image-slice: 1;
} */